/******************************************************************
Site Name: Ravintola Henriks (www.henriks.fi)
Author: Henrik Collin

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}


div#container {
  display: flex;
  flex-direction: column;
  position: relative;
}


header.header {

  flex: 0 0 auto;

  background-image: url('../images/julkisivu_vari.jpg');
  background-position: center center;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;

  div {

    flex: 0 0 auto;

    display: flex;
    flex-direction: row;

    height: 64px;

    background-image: linear-gradient(rgba(0, 0, 16, 0.85) 40%, rgba(0, 0, 16, 0.00) 100%);

    // overflow: hidden;

    &.fixed-header {
      position: fixed;
      z-index: 1000;

      &.darker {
        background-image: linear-gradient(rgba(0, 0, 16, 1) 0%, rgba(0, 0, 16, 0.95) 40%, rgba(0, 0, 16, 0.75) 80%,rgba(0, 0, 16, 0.00) 100%);
      }
    }


    & > a.logo {
      display: block;
      
      flex: 0 0 auto;

      background-image: url('../images/logo.png');
      background-position: center center;
      width: 113px;
      height: 64px;
      margin-left: 20px;
      background-size: contain;
      background-repeat: no-repeat;

      border: none;
      outline: none;

      &:focus {
        border: none;
        outline: none;
      }


    }

    & > nav {
      flex: 1;
      height: 85px;
      display: flex;
      justify-content: flex-end;
      padding-right: 25px;
      align-items: flex-start;
      // padding-top: 10px;
      overflow: hidden;

      & > ul {

        display: flex;
        flex-direction: row;

        li {
          flex: 1;
          font-family: $header-font;
          
          
          transform: rotate(-10deg);
          transition: all 0.3s;
          
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          min-width: 100px;
          min-height: 64px;
          border-left: dashed 1px rgba(255, 255, 255, 0.5);
          border-bottom: dashed 1px rgba(255, 255, 255, 0.5);
          border-bottom-left-radius: 3px;
          padding: 0 10px;

          a {
            color: complement($henriks-blue);
            text-decoration: none;
            font-size: 16px;
            transition: all 0.3s;
            padding: 0;
            margin: 0;
            text-shadow: 2px 2px black;

            &:active, &:visited, &:link, &:link:visited {
              text-decoration: none;
              border: none;
              outline: none;
            }

            &:hover {
              text-decoration: none;
              color: white;
              border: none;
              outline: none;
            }
            
          }

          &.current-menu-item,
          &.current-page-ancestor {
            
            background-color: rgba(0,0,0,0.5);

            & > a {
              color: white;
            }
          }
        }

        &:focus {
          border: none;
          outline: none;

          a: {
            border: none;
            outline: none;
          }
        }

      }
      
    }
  }

  & > .tagline {

    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    height: 200px;

    padding-top:100px;

    padding-left: 260px;
    width: 1040px;

    font-family: $header-font;
    font-size: 32px;
    color: white;
    text-shadow: 3px 3px 2px #083060;
  }

  &.frontpage {
    height: 400px;
    background-image: url('../images/julkisivu_vari.jpg');
    position: relative;
    width: 1040px;

    a.logo {
      position: absolute;
      top: 120px;
      left: 120px;
      width: 300px;
      height: 180px;

      background-image: url('../images/logo.png');
      background-position: center center;
      background-repeat: no-repeat;
    }

    & > .tagline {
      display: none;
    }
  }  
}


// This HURTS my eyes so so much...
div#content {

  flex: 1;

  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.15);
  border-top: solid 5px rgba($henriks-blue, 0.2);
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 20;

  #main {

    &.fixed-sidebar-left {
      margin-left: 300px; 
      
    }
  }


  // Front page sidebar
  div.sidebar {
    margin-top: 0;

    &.fixed {
      position: fixed;
      width: 300px;
      background-color: rgba(0,0,0,0.5);
      
    }


    & > .widget {

      padding-left: 35px;
      padding-right: 20px;
      position: relative;
      min-height: 125px;

      &:first-of-type {
        margin-top: 0;
      }

      & > h4 {
        position: absolute;
        bottom: 0;
        left: 30px;

        min-width: 125px;
        height: 30px;
        
        transform-origin: left bottom;
        transform: rotate(-90deg);
        
        padding: 0;
        margin: 0;
        
        border-bottom: dashed 1px desaturate($henriks-blue, 30); 
        
        font-size: 16px;
        text-transform: uppercase;
        line-height: 30px;
        text-align: right;
        color: $henriks-blue;
        font-weight: normal;
        letter-spacing: 2px;
        
        
        
        
      }

      & > .textwidget {
        margin: 0;

        color: white;
        
        // text widget with lists!
        & >  dl {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0;

          & > dt {
            flex: 0 0 auto;
            width: 30%;
            min-width: 50px;
            color: gray;
          }

          & > dd {
            flex: 0 0 auto;
            width: 70%;
            color: white;
            font-weight: normal;
          }
        }

        // text widget with large links
        & > h2.link-button {
            position: relative;
            left: -30px;
            width: calc(100% + 30px);
            text-align: center;
            padding: 4px 0;
            border: dashed 1px complement($henriks-blue);
            margin: 0px 5px 15px 5px;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            

           a {
              color: complement($henriks-blue);
              text-decoration: none;
              font-size: 20px;
              text-transform: uppercase;
              transition: all 0.3s;

              &:hover {
                color: white;
              }

           }
        }
      }

      ul.menu,
      ul.child-sidebar-menu {

        & > li {
          position: relative;

          & > a {
            color: complement($henriks-blue);
            text-decoration: none;
            transition: all 0.3s;
            font-size: 18px;

            &:visited {
              color: complement($henriks-blue);
              
            }

            &:hover {
              color: white;
              padding-left: 5px;
            }
          }

          &.current_page_item,
          &.current-menu-item {
            
            & > a {
              padding-left: 5px;
              transition: all 0.3s;
              position: relative;
              color:lighten(complement($henriks-blue), 20);

              &:hover {
                padding-left: 5px;
              }
            }
          }
        }
      }


    }
  }


  // Main Articles
  article {
    background-color: transparent;
    border: none;

    & > header,
    & > section,
    & > footer {
      border: none;
    }

    // Article Header
    & > header {
      & > h1,
      & > h1 > a {
        color: $henriks-blue;
      }

      & > p {
        color: gray;
      }
    }

    // Article Content
    & > section {

      h1 {
        color: $henriks-blue;
        font-size: 28px;
        
        font-weight: normal;
        letter-spacing: 1px;
      }

      h2 {
        color: $henriks-blue;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
      }

      h3 {
        color: lighten($henriks-blue, 5);
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        
      }

      h4 {
        color: lighten($henriks-blue, 10);
        font-size: 16px;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
      }

      p {
        color: $text-color;
        font-size: 16px;

        & > strong {
          font-weight: bold;
          letter-spacing: 1px;
          
        }
      }

      a, 
      a:visited {
        color: complement($henriks-blue);
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          color: white;
        }
      }

      ul {
        list-style: none inside none;
        

        & > li {
          color: $text-color;
          margin-left: 10px;
          font-size: 16px;
          display: flex;

          &:before {
            content: '=E';
            font-size: 10px;
            letter-spacing: -2px;
            
            font-weight: bold;
            font-family: Arial;
            color: #90b0f0;
            flex: 0 0 auto;
            width: 16px;
            height: 100%;
            display: flex;
            align-self: center;
            justify-content: flex-start;
          }
        }
      }

      ol {
        list-style: none inside none;
        counter-reset: li-counter;
        
        & > li {
          color: $text-color;
          margin-left: 25px;
          margin-bottom: 3px;
          padding: 0;
          position: relative;
          height: 20px;
          

          &:before {
            display: flex;
            position: absolute;
            top: 0;
            left: -20px;
            width: 20px;
            height: 20px;

            transform: rotate(-45deg);
                        
            content: counter(li-counter);
            counter-increment: li-counter;
            
            align-items: center;
            justify-content: center;
                        
            color: $henriks-blue;
            font-size: 16px;
            font-weight: bold;
            
          }
        }
      }

      blockquote {
        margin: 12px;
        border: none;

        
        & > p {
          font-size: 20px;
          font-style: italic;
          font-weight: normal;
          color: lighten($henriks-blue, 15);

           &:before {
            content: '" ';
            color: $henriks-blue;
            font-size: 28px;
          }  

          &:after {
            content: ' "';
            color: $henriks-blue;
            font-size: 28px; 
          }
        }
      }

      code {
        padding: 6px;
        margin: 6px;
        border: dashed 1px darken($henriks-blue, 20); 
        display: block;
      }


    }

    // Article Footer
    & > footer {
      p {
        color: gray;

        a {
          color: complement($henriks-blue);
        }
      }

      
    }
  }


  &.frontpage {

    .sidebar {
      
      position: relative;
      top: - 160px;
      background-color: black;
      padding-top: 20px;
      // border-top-left-radius: 12px;
      
      

      &:before {
        content: '';
        // background-color: rgba(255,0 ,0, 0.75);
        
        background-image: linear-gradient(to right, rgba(255,255,255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
        position: absolute;
        top: -5px;
        left: -5px;
        height: 5px;
        width: 100%;

        border-top-left-radius: 10px;
        
      }

      &:after {
        content: '';
        // background-color: rgba(0, 255,0, 0.75);
        background-image: linear-gradient( rgba(255,255,255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        top: 0;
        left: -5px;
        width: 5px;
        height: 150px;
      }
      
    }  
  }

} // End of main content

footer.footer {

  flex: 0 0 auto;
  height: 270px;
  background-color: black;
  border: none;
  z-index: 30;
  overflow: hidden;
  position: relative;
  
  // Yhyy!
  & > #inner-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1020px;
    overflow: hidden;
    height: 220px;

    .sidebar {
      margin-top: 0;
      width: 100%;

      display: flex;
      flex-direction: row;

      & > div.footer-widget {
        flex: 1;
        position: relative;
        padding-left: 36px;

        h4.widgettitle {
          border: none;
          font-weight: normal;
          transform: rotate(-90deg);
          width: 220px;
          height: 30px;
          padding: 0;
          margin: 0;
          position: absolute;
          bottom: 0;
          left: 30px;
          transform-origin: left bottom;
          
          color: $henriks-blue;
          border-bottom: dashed 1px desaturate($henriks-blue, 30); 
          font-size: 16px;
          text-transform: uppercase;
          line-height: 30px;
          text-align: right;
          letter-spacing: 2px;

          

        }

        

        ul {

          margin: 0;
          padding: 0;

          & > li {
            width: 100%;
            margin-bottom: 6px;

            a {
              // color: $henriks-blue;
              color: complement($henriks-blue);
              text-decoration: none;
              transition: all 0.3s;

              &:hover {
                color: complement($henriks-blue) + 40;
                padding-left: 5px;
              }
            }
          }
        }
        


        &.widget_simpleimage {
          flex: 2;
        }
      }
    }
    
  }

  p.copyright {
    color: #222222;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    font-family: Verdana;
  }
  
}